<style type="text/css">
   <!--
      h1 {
      color:black;padding:3px;
      font: bold 32pt Helvetica,sans-serif; text-align:center}
   h2 {background:rgb(200,200,255);color:black;padding:3px;border:thin solid black;
      font: bold 24pt Helvetica,sans-serif; text-align:center}
   pre {background:rgb(250, 247, 247);
        ; color:black; font: Courier; padding: 1em; margin: 1em; 
        border: thin solid black}
   -->
  </style>
